<div class = "contactForm">
  <div class = "contact">
    <h3> Contact Us </h3>
    <mat-form-field>
      <input matInput placeholder = "Full name" name ="fullName" size = "100" maxlength = 50>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder = "E-mail" name ="e-mail" size = "100" maxlength = 50>
    </mat-form-field>
    <br>
    <br>
    <textarea rows="10" cols="50" placeholder="Your thoughts about GaleArt..."></textarea>
    <br>
    <br>
  </div>
  <br><br>

  <button type="submit" (click)="submit()" class="btn btn-primary" >Submit</button>
</div>
