<div>
  <h1>
    <img src = "../assets/images/logo.png" alt = "logo" class = "logo">
  </h1>

  <div>
    <ul>

      <li>
        <a routerLink= "/index">
          Home
        </a>
      </li>

      <li>
        <a routerLink= "/about">
          About
        </a>
      </li>

      <li>
        <a routerLink= "/contact">
          Contact
        </a>
      </li>

      <li>
        <a routerLink= "/order">
          Place Order
        </a>
      </li>

    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
