<div class="contact">
  <h3>Send an email</h3>

  <label>Full name</label><br>
  <input type = "text" placeholder = "Enter your full name" ngModule = "fullname" size = "35"><br>
  <label> E-mail address</label><br>
  <input type = "text" placeholder = "Enter your email" ngModule = "email" size = "35"><br>
  <label>Message:</label><br>
  <textarea ngModule = "message" placeholder="What's on your mind?" style = "height: 350px; width: 257px;"></textarea>
  <button (click)="submit()">Submit</button>

</div>
