@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body,
html {
  margin: 0 auto;
}
body {
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-color: "white";
  background-position: right top;
}

